.time_div {
	float:left;
	width:45%;
}
.time_div label {
	width:80%;
}
.time_div.time_margin {
	margin-right: 10%;
}
.inc_div{
	margin-left:5px;
}

#current form {
	margin-top: 0px;
}
.twobuttons{
	float:left;
	width:45%;
}
.twobuttons_right{
	float:left;
	width:45%;
	margin-left:5%;
}
.modeSlider .ui-slider-switch{
 width: 9em;
}
.tempAuto{
margin-top:50px;
}